<footer class="footer">
    <!-- This should be `0 items left` by default -->
    <span class="todo-count"><strong>{{countTasks}}</strong> item{{countTasks > 1 ? 's':''}} left</span>
   
    <ul class="filters">
        <li>
        <a routerLink="/" [ngClass]="{'selected': state == 'all'?true:false}">All</a>
        </li>
        <li>
        <a routerLink="/pending" [ngClass]="{'selected': state == 'pending'?true:false}">Pending</a>
        </li>
        <li>
        <a routerLink="/completed" [ngClass]="{'selected': state == 'completed'?true:false}">Completed</a>
        </li>
    </ul>
    <!-- Hidden if no completed items are left ↓ -->
    <button class="clear-completed" (click)="clearCompleted()" *ngIf="existCompletedTask">Clear completed</button>
</footer>