<ng-container *ngIf="this.task.completed" >
 
        <div class="view">
            <input class="toggle" type="checkbox" checked />
            <label>{{this.task.title}}</label>
            <button class="destroy"></button>
        </div>
        <input class="edit" value="{{this.task.title}}" />
  
</ng-container>
<ng-container *ngIf="!this.task.completed"  >
        <div class="view">
            <input class="toggle" type="checkbox" />
            <label>{{this.task.title}}</label>
            <button class="destroy"></button>
        </div>
        <input class="edit" value="{{this.task.title}}" />
</ng-container>
<ng-container *ngIf="this.editMode"  >
        <div class="view">
            <input class="toggle" type="checkbox" />
            <label>{{this.task.title}}</label>
            <button class="destroy"></button>
          </div>
          <input class="edit" value="{{this.task.title}}" />
</ng-container>
  